.file-list-container h1 {
  font-family: 'FiraCode', sans-serif;
}

.file-list-container h2 {
  margin: 35px 0;
  padding: 15px 25px;
  color: var(--instruction-text-primary);
  border: 3px solid var(--border-primary);
  background-color: var(--instruction-background);
}

.file-list-loading {
  text-align: center;
}

.file-list-loading .loading {
  border: 3px solid var(--title-primary);
  background: linear-gradient(to bottom, var(--file-background-primary) 50%, var(--file-background-secondary));
  padding: 12px 12px 4px 12px;
  display: inline-block;
}

.file-list-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "instruction"
    "form";
}

.file-list-instruction {
  grid-area: instruction;
}

.file-list-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file-list-pass {
  box-sizing: border-box;
  border: none;
  font-size: 1.5rem;
  margin: 0 50px 35px 50px;
  padding: 10px;
  height: 86px;
  width: 50%;
  border-radius: 0;
  background-color: var(--input-background);
  color: var(--instruction-text-primary);
  border: 3px solid var(--button-border);
}

.file-list-button {
  grid-area: upload;
  font-size: 1.5rem;
  width: 25%;
  height: 60px;
}
